__pycache__/
*egg-info/

ATMO_2020_models/
Luhman_16/
# */data/
*/retrieval_outputs/
*/plots/
*/logs/
*.png
*.tex

transm_curves.pk
species_config.ini
species_database.hdf5

DENIS_J0255/telluric_cov.ipynb
DENIS_J0255/Gibbs_kernel.ipynb
DENIS_J0255/nod_pair_comparison.ipynb
DENIS_J0255/retrieval_comparison.ipynb
DENIS_J0255/retrieval_comparison.py
# ignore all files in folder HBDs
HBDs
GQLupB

*/lem*
HBDs/dataframe10-k.csv
.gitignore
TWA28/SPHINX_M_models.pdf
J0856/CN_opacity_comparison.png
.gitignore
J0856/retrieval_evaluation.sh
*/data_old/
*ames*
data/
*.fits
*.pdf
*.zip