__pycache__/
*egg-info/

ATMO_2020_models/
Luhman_16/
# */data/
*/retrieval_outputs/
*/plots/
*/logs/
*.png
*.tex

transm_curves.pk
species_config.ini
species_database.hdf5

DENIS_J0255/telluric_cov.ipynb
DENIS_J0255/Gibbs_kernel.ipynb
DENIS_J0255/nod_pair_comparison.ipynb
DENIS_J0255/retrieval_comparison.ipynb
DENIS_J0255/retrieval_comparison.py

*/lem*
HBDs/dataframe10-k.csv
.gitignore
TWA28/SPHINX_M_models.pdf
J0856/CN_opacity_comparison.png
J0856/retrieval_evaluation.sh
*/data_old/
data/ames*
data/companion_data
*.fits
*.zip
*.pdf
*.Vega
HBDs/test.py
SED_runs/
*.pkl
*profile_*
TWA28/jwst/curve_data.csv
TWA28/jwst/MAST_2024-06-22T16_06_10.396Z/MANIFEST.html
TWA28/lbl_test/bestfit.json
SPHINX/
data/slab_models
data/hitran
*THIN*
TWA28/constants_block.mod
*.f90
*.o
*.log
*.bib
requirements_dec24.txt
retrieval_env.yml
prepare_13CO_dec13
prepare_C18O_dec13
prepare_C18O_dec13_2
